* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	position: relative;
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h2,
.h2 {
	font-size: 30px;
	line-height: 40px;
	text-align: center;

	strong {
		text-transform: uppercase;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 46px;
		line-height: 60px;
	}

	@media (min-width: $screen-md-min) {
		font-size: 50px;
		line-height: 66px;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 60px;
		line-height: 80px;
	}
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.modal {
	color: #fff;
	max-width: 320px;
	padding: 30px 20px;
	background: #202127;

	.modal-title {
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		margin-bottom: 20px;
	}

	.btn {
		width: 100%;
		margin-top: 5px;
	}

	.form-row {
		margin: 0 -10px;
		@include clearfix();

		> li {
			width: 100%;
			float: left;
			padding: 0 10px;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 400px;
		max-width: 400px;
		padding: 30px 40px;

		&.modal-xl {
			width: 600px;
			max-width: 600px;

			.btn {
				width: auto;
			}
		}

		.form-row {

			> li {
				width: 50%;
			}
		}
	}
}


.modal-text {
	color: #fff;
	font-size: 16px;
	max-width: 600px;
	padding: 30px 20px;
	background: #202127;

	.modal-title {
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		margin-bottom: 20px;
	}


	@media (min-width: $screen-sm-min) {
		padding: 30px 40px;
	}
}
