.b10 {
	color: #fff;
	padding-top: 40px;
	text-align: center;
	padding-bottom: 40px;
	background: #a10808 url("../img/b10_bg.jpg") -380px -250px no-repeat;

	h2, .h2 {
		margin-bottom: 15px;
	}

	.t1 {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 20px;
	}

	.t2 {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 5px;
	}

	.t3 {
		font-size: 20px;
		line-height: 30px;
	}

	.tel {
		color: #fff;
		font-size: 40px;
		font-weight: 700;
		line-height: 40px;
		margin-bottom: 20px;
		text-decoration: none;
		display: inline-block;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 40px;
		padding-bottom: 40px;
		background-position: -200px -100px;

		h2, .h2 {
			margin-bottom: 20px;
		}

		.t1 {
			font-size: 30px;
			line-height: 40px;
			margin-bottom: 40px;
		}

		.t2 {
			font-size: 30px;
			line-height: 40px;
			margin-bottom: 10px;
		}

		.t3 {
			font-size: 24px;
			line-height: 30px;
		}

		.tel {
			font-size: 70px;
			font-weight: 700;
			line-height: 70px;
			margin-bottom: 30px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 195px;
		padding-bottom: 165px;
		background-position: 50% 0;

		h2, .h2 {

		}

		.t1 {
			font-size: 36px;
			line-height: 40px;
			margin-bottom: 40px;
		}

		.t2 {
			font-size: 36px;
			line-height: 40px;
			margin-bottom: 20px;
		}

		.t3 {
			font-size: 36px;
			line-height: 46px;
		}

		.tel {
			font-size: 80px;
			font-weight: 700;
			line-height: 80px;
			margin-bottom: 50px;
		}
	}
}