.b07 {
	color: #fff;
	padding-top: 40px;
	padding-bottom: 50px;
	position: relative;
	background: url("../img/b07_bg_base.jpg") 50% 50% no-repeat;
	background-size: cover;

	.b07_pattern {
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		opacity: 0;
		position: absolute;
		background: rgba(0,0,0,0.85);
	}

	.container {
		z-index: 10;
	}

	.form-block {

		.form-row {
			margin: 0 -10px;
			@include clearfix();

			> li {
				width: 100%;
				float: left;
				padding: 0 10px;
			}
		}

		.btn {
			width: 100%;
			margin-top: 30px;
		}
	}

	h2, .h2 {
		position: relative;
		margin-bottom: 20px;
	}


	@media (min-width: $screen-sm-min) {
		padding-top: 75px;
		padding-bottom: 80px;

		.form-block {

			.form-row {

				> li {
					width: 50%;
				}
			}

			.btn {
				width: auto;
				margin-top: 20px;
				padding: 20px 60px;
			}
		}

		h2, .h2 {
			margin-bottom: 30px;
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 900px;
		padding-top: 250px;
		padding-bottom: 150px;

		.form-block {
			position: relative;
			margin-top: -70px;
			border: 4px solid #e91c1c;
			padding: 70px 130px 0 130px;
			border-top: none;

			&:after,
			&:before {
				top: 0;
				z-index: 1;
				content: '';
				width: 64px;
				height: 4px;
				position: absolute;
				background: #e91c1c;
			}

			&:after {
				left: 0;
			}

			&:before {
				right: 0;
			}

			.btn {
				margin-bottom: -32px;
			}
		}

		h2, .h2 {

		}
	}
}
