.b02 {
	padding-top: 35px;
	padding-bottom: 40px;
	background: #fff url("../img/b02_bg.jpg") 0 250px no-repeat;

	h2,
	.h2 {
		margin-bottom: 35px;
	}

	.question {
		margin: 0 -15px;
		@include clearfix();

		li {
			width: 100%;
			float: left;
			font-size: 24px;
			line-height: 30px;
			text-align: center;
			margin-bottom: 30px;
			padding: 65px 15px 0 15px;

			&:nth-child(1) {
				background: url("../img/b02_item_01.png") 50% 0 no-repeat;
			}

			&:nth-child(2) {
				background: url("../img/b02_item_02.png") 50% 0 no-repeat;
			}

			&:nth-child(3) {
				background: url("../img/b02_item_03.png") 50% 0 no-repeat;
			}

			&:nth-child(4) {
				background: url("../img/b02_item_04.png") 50% 0 no-repeat;
			}
		}
	}

	.question-large {
		font-size: 24px;
		line-height: 30px;
		text-align: center;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 60px;
		padding-bottom: 65px;
		background-position: 0 70px;

		h2,
		.h2 {
			margin-bottom: 50px;
		}

		.question {

			li {
				width: 50%;
			}
		}

		.question-large {
			font-size: 30px;
			line-height: 40px;
		}
	}


	@media (min-width: $screen-lg-min) {
		padding-top: 140px;
		padding-bottom: 160px;
		background-position: 50% 120px;

		h2,
		.h2 {
			margin-bottom: 90px;
		}

		.question {
			margin-bottom: 110px;

			li {
				width: 25%;
			}
		}

		.question-large {
			font-size: 40px;
			line-height: 50px;
		}
	}
}
