.b09 {
	color: #fff;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	padding-top: 40px;
	background: #202127;
	padding-bottom: 40px;

	h2, .h2 {
		max-width: 500px;
		margin: 0 auto 20px auto;
	}

	.clients {
		padding: 0;
		margin: 0 -10px;
		@include clearfix();

		li {
			width: 50%;
			float: left;
			padding: 0 10px;
			text-align: center;
			margin-bottom: 20px;

			.base {
				display: inline-block;

				img {
					@include opacity(0.5);
				}
			}

			.hover {
				display: none;
			}

			img {
				@include img-responsive(inline-block);
			}

			&:hover {

				.base {
					display: none;
				}

				.hover {
					display: inline-block;
				}
			}
		}
	}

	.review {
		position: relative;

		.review-item {
			border: none;
			outline: none;
			@include clearfix();
		}

		.review-image {
			width: 175px;
			margin: 0 auto 25px auto;

			a {
				display: block;
			}
		}

		.review-text {
			text-align: center;

			.review-title {
				font-size: 24px;
				font-weight: 700;
				line-height: 30px;
				position: relative;
				padding-bottom: 10px;
				margin-bottom: 20px;

				&:before {
					left: 50%;
					bottom: 0;
					content: '';
					height: 1px;
					width: 160px;
					position: absolute;
					margin-left: -80px;
					background: #4d4d52;
				}
			}

			.review-content {
				font-size: 18px;
				font-weight: 300;
				line-height: 28px;

				a {
					color: #f01d1d;
					font-weight: 700;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		.slide-nav {
			top: 100px;
			z-index: 50;
			width: 21px;
			height: 39px;
			cursor: pointer;
			position: absolute;
			display: inline-block;
			background: url("../img/slider_arrow.png") 0 0 no-repeat;
			@include opacity(0.6);

			&.prev {
				left: 0;
			}

			&.next {
				right: 0;
				@include rotate(180deg);
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 60px;
		padding-bottom: 60px;

		.clients {

			li {
				width: 33.33%;
				margin-bottom: 50px;
			}
		}

		.review {
			padding-left: 70px;
			padding-right: 70px;

			.review-image {
				float: left;
				margin-right: 30px;
			}

			.review-text {
				float: left;
				width: 295px;
				text-align: left;

				.review-title {

					&:before {
						left: 0;
						margin-left: 0;
					}
				}
			}

			.slide-nav {

				&.prev {

				}

				&.next {

				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 135px;
		padding-bottom: 180px;

		h2, .h2 {
			max-width: 860px;
			margin-bottom: 50px;
		}

		.clients {
			margin: 0 auto;
			max-width: 820px;

			li {
				margin-bottom: 60px;
			}
		}

		.review {
			padding-left: 0;
			padding-right: 0;

			.review-image {
			}

			.review-item {
				padding-right: 20px;
			}

			.review-text {
				width: 330px;
			}

			.slide-nav {

				&.prev {
					left: -50px;
				}

				&.next {
					right: -50px;
				}
			}
		}
	}
}