.b08 {
	color: #fff;
	padding-top: 75px;
	text-align: center;
	padding-bottom: 55px;
	background: #a10808 url("../img/b08_bg.jpg") -450px -75px no-repeat;

	h2, .h2 {
		margin-bottom: 20px;
	}

	.text {
		font-size: 20px;
		line-height: 26px;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 90px;
		padding-bottom: 105px;

		.text {
			font-size: 24px;
			line-height: 36px;
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 700px;
		padding-top: 265px;
		padding-bottom: 105px;
		background-position: 50% 50%;

		h2, .h2 {
			margin-bottom: 25px;
		}

		.text {
			font-size: 30px;
			line-height: 36px;
		}
	}
}

