.b03 {
	color: #fff;
	background: #a10808 url("../img/b03_bg.jpg") -90px -80px no-repeat;

	.wrap {
		height: 300px;
		@include flexbox();
	}

	.content {
		margin: auto;
		display: inline-block;
	}

	h2,
	.h2 {
		margin-bottom: 0;
	}

	@media (min-width: $screen-sm-min) {

		.wrap {
			height: 400px;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		background-position: 50% 0;

		.wrap {
			height: 700px;
		}
	}
}