.b04 {
	color: #fff;
	padding-top: 30px;
	padding-bottom: 50px;
	position: relative;
	background: url("../img/b04_bg_base.jpg") 50% 50% no-repeat;
	background-size: cover;

	.b04_pattern {
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		position: absolute;
		opacity: 0;
		background: rgba(0,0,0,0.85);
	}

	.container {
		z-index: 10;
	}

	h2, .h2 {
		margin-bottom: 35px;
	}

	.advantage {
		@include clearfix();

		li {
			font-size: 24px;
			line-height: 34px;
			text-align: center;
			padding-top: 85px;
			margin-bottom: 40px;

			&:nth-child(1) {
				background: url("../img/b04_item_01.png") 50% 0 no-repeat;
			}

			&:nth-child(2) {
				background: url("../img/b04_item_02.png") 50% 0 no-repeat;
			}

			&:nth-child(3) {
				margin-bottom: 0;
				background: url("../img/b04_item_03.png") 50% 0 no-repeat;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 60px;
		padding-bottom: 70px;

		h2, .h2 {
			margin-bottom: 45px;
		}

		.advantage {

			li {

			}
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 800px;
		padding-top: 220px;
		padding-bottom: 220px;

		h2, .h2 {
			margin-bottom: 110px;
		}

		.advantage {
			width: 100%;
			display: table;

			li {
				margin-bottom: 0;
				display: table-cell;
				vertical-align: top;
				padding: 85px 20px 0 20px;

				span {
					display: block;
				}
			}
		}

	}
}
