.b05 {
	padding-top: 45px;
	padding-bottom: 45px;
	background: #fff url("../img/b05_bg.jpg") 50% 400px no-repeat;

	h2, .h2 {
		max-width: 540px;
		margin: 0 auto 50px auto;
	}

	.auto-inner {
		max-width: 340px;
		margin: 0 auto;
	}

	.auto {
		margin: 0 -10px;
		padding-bottom: 10px;
		@include clearfix();

		> li {
			margin-bottom: 25px;
			@include clearfix();
		}

		.auto-image {
			float: left;
			width: 130px;

			.base {
				display: block;
			}

			.hover {
				display: none;
			}

			&:hover {

				.base {
					display: none;
				}

				.hover {
					display: block;
				}
			}
		}

		.auto-text {
			width: 180px;
			float: right;
			text-align: center;

			p {
				font-size: 22px;
				line-height: 24px;
				margin-bottom: 15px;
			}
		}
	}

	.gallery-inner {
		max-width: 400px;
		margin: 0 auto;
	}

	.gallery {
		@include clearfix();

		> li {
			margin-bottom: 20px;
		}

		.gallery-item {
			display: block;
			overflow: hidden;
			position: relative;

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 5;
				content: '';
				visibility: hidden;
				position: absolute;
				@include opacity(0);
				background: rgba(32,33,39,0.7);
			}

			&:hover {

				&:before {
					visibility: visible;
					@include opacity(1);
				}
			}
		}

		.gallery-text {
			left: 0;
			right: 0;
			top: 100%;
			z-index: 10;
			margin-top: -65px;
			position: absolute;


			h4 {
				color: #fff;
				width: 100%;
				height: 48px;
				display: table;
				font-size: 22px;
				line-height: 24px;
				text-align: center;

				span {
					display: table-cell;
					vertical-align: bottom;
				}
			}

			p {
				display: none;
				margin-bottom: 0;
				text-align: center;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 60px;
		padding-bottom: 50px;

		.auto-inner {
			max-width: inherit;
		}

		.gallery-inner {
			max-width: inherit;
		}

		.auto {
			margin: 0 -15px;

			> li {
				float: left;
				width: 33.33%;
				padding: 0 15px;
				margin-bottom: 50px;

				&:nth-child(4) {
					margin-left: 16.66%;
				}
			}

			.auto-image {
				float: none;
				width: 185px;
				margin: 0 auto 25px auto;
			}

			.auto-text {
				float: none;
				width: 100%;
			}
		}

		.gallery {
			margin: 0 -15px;

			> li {
				width: 50%;
				float: left;
				padding: 0 15px;
			}

			.gallery-text {
				margin-top: -70px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 120px;
		padding-bottom: 130px;

		h2, .h2 {
			max-width: 700px;
			margin-bottom: 70px;
		}

		.auto {
			margin-bottom: 70px;

			> li {
				width: 20%;
				margin-bottom: 0;

				&:nth-child(4) {
					margin-left: 0;
				}
			}
		}

		.gallery {
			margin: 0 -2px;

			> li {
				float: left;
				width: 33.33%;
				padding: 0 2px;
				margin-bottom: 4px;
			}

			.gallery-item {
				@include transition(.3s);

				&:hover {

					.gallery-text {
						margin-top: -210px;
						@include transition(.3s);
					}
				}
			}

			.gallery-text {

				h4 {
					margin-bottom: 25px;
				}

				p {
					display: block;
				}
			}
		}
	}
}