.header {
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	padding-top: 20px;
	position: absolute;
	background: rgba(32,33,39,0.3);

	.header-logo {
		float: left;
		width: 130px;
	}

	.header-contact {
		float: right;
		text-align: right;

		> li {

			&:first-child {
				margin-bottom: 5px;
			}
		}
	}

	.header-tel {
		color: #f01d1d;
		font-size: 20px;
		font-weight: 600;
		line-height: 20px;
		text-decoration: none;
		border-bottom: 1px solid #f01d1d;
	}

	.btn-callback {
		color: #f01d1d;
		font-size: 18px;
		line-height: 20px;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid #f01d1d;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	@media (min-width: $screen-sm-min) {
		height: 100px;

		.header-logo {
			width: 184px;
		}

		.header-tel {
			color: #fff;
			font-size: 30px;
			line-height: 30px;
			border-bottom: none;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		position: fixed;
	}
}

.b01 {
	color: #fff;
	padding-top: 125px;
	padding-bottom: 75px;
	background: url("../img/b01_bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	.center-box {
		width: 270px;
		height: 270px;
		margin: 0 auto;
		text-align: center;
		padding: 50px 10px 20px 10px;
		background: rgba(240,29,29,0.8);
	}

	h1 {
		font-size: 30px;
		font-weight: 400;
		line-height: 46px;
		position: relative;
		margin-bottom: 20px;
		padding-bottom: 20px;

		&:before {
			left: 50%;
			bottom: 0;
			content: '';
			width: 94px;
			height: 2px;
			margin-left: -47px;
			position: absolute;
			background: #ffffff;
		}
	}

	.slogan {
		font-size: 30px;
		font-weight: 400;
		line-height: 46px;

		strong {
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 175px;
		padding-bottom: 85px;

		.center-box {
			width: 410px;
			height: 410px;
			padding-top: 75px;
		}

		h1 {
			font-size: 40px;
			line-height: 50px;
			margin-bottom: 50px;
			padding-bottom: 40px;
		}

		.slogan {
			font-size: 40px;
			line-height: 50px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 225px;
		padding-bottom: 125px;
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 325px;
		padding-bottom: 225px;

		.center-box {
			width: 452px;
			height: 452px;
			padding-top: 90px;
		}
	}
}