.b06 {
	width: 100%;
	max-width: 100%;
	padding: 40px 0;
	overflow: hidden;
	background: #edeef5;

	h2, .h2 {
		margin-bottom: 30px;
	}

	.content-text {
		margin-bottom: 25px;

		li {
			font-size: 20px;
			line-height: 26px;
			position: relative;
			padding-left: 45px;
			margin-bottom: 25px;
			background: url("../img/icon_check.png") 0 0 no-repeat;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.cert-sm {
		padding: 5px;
		width: 175px;
		display: block;
		margin: 0 auto;
		position: relative;

		span {
			padding: 11px;
			content: '';
			width: 42px;
			height: 42px;
			right: 20px;
			bottom: 20px;
			font-size: 0;
			line-height: 0;
			position: absolute;
			display: inline-block;
			background: rgba(240,29,29,0.9);
			@include border-radius(50%);
		}
	}


	@media (min-width: $screen-sm-min) {
		padding: 60px 0;

		.content-text {
			width: 420px;
			margin-bottom: 0;

			li {
				font-size: 24px;
				line-height: 34px;
			}
		}

		.content-image {
			top: 155px;
			left: 350px;
			width: 600px;
			position: absolute;

			a {
				display: block;
			}

			span {
				content: '';
				width: 84px;
				height: 84px;
				top: 290px;
				left: 285px;
				font-size: 0;
				line-height: 0;
				position: absolute;
				display: inline-block;
				padding: 26px 26px 0 26px;
				background: rgba(240,29,29,0.9);
				@include border-radius(50%);
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 850px;
		padding-top: 135px;

		h2, .h2 {
			width: 640px;
			text-align: left;
			margin-bottom: 50px;
		}

		.content-text {
			li {
				margin-bottom: 35px;
			}
		}

		.content-image {
			top: 0;
			left: 400px;
			width: 1020px;

			span {
				top: 500px;
				left: 515px;
			}
		}
	}
}