.footer {
	padding-top: 25px;
	padding-bottom: 25px;
	background: #202127;

	.footer-logo {
		float: left;
		width: 184px;
		display: none;
		margin-right: 45px;
	}

	.inn {
		color: #fff;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		margin-bottom: 10px;
	}

	.footer-contact {
		text-align: center;

		li {

			&:first-child {
		//		margin-bottom: 5px;
			}
		}

		.footer-tel {
			color: #fff;
			font-size: 30px;
			font-weight: 700;
			line-height: 40px;

			text-decoration: none;
		}

		.footer-email {
			color: #fff;
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 20px;
		padding-bottom: 20px;

		.inn {
			float: left;
			text-align: left;
			margin-bottom: 0;
			padding-top: 5px;
		}

		.footer-contact {
			float: right;
			text-align: right;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		padding-top: 22px;
		padding-bottom: 15px;

		.footer-logo {
			display: block;
		}
	}
}