.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	padding: 20px 20px;
	text-align: center;
	position: relative;
	background: #f01d1d;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	text-transform: uppercase;
	touch-action: manipulation;
	@include transition(.3s);

	&:hover {
		color: #fff;
		background: #ff2e2e;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}

	i {
		margin-right: 5px;
	}
}

.btn-mini  {
	margin: 0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	padding: 12px 6px;
	text-align: center;
	position: relative;
	background: #f01d1d;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	text-transform: uppercase;
	touch-action: manipulation;
	@include transition(.1s);
	@include box-shadow(4px 4px 0px 0px rgba(26, 27, 32, 0.2));

	&:hover {
		color: #fff;
		background: #ff0000;
		text-decoration: none;
		@include box-shadow(0px 10px 20px 0px rgba(201, 0, 0, 0.55));
	}

	&:active {
		@include box-shadow(1px 1px 0px 0px rgba(26, 27, 32, 0.2));
	}

	i {
		font-size: 16px;
		line-height: 20px;
		margin-right: 5px;
	}
}