.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	color: #808080;
	font-size: 18px;
	line-height: 20px;
	padding: 6px 10px;
	background: #ffffff;
	display: inline-block;
	border: 1px solid #ffffff;
	@include placeholder(#808080);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}

	@media (min-width: $screen-sm-min) {
		padding: 14px 20px;
	}
}

.form-select {
	margin: 0;
	width: 100%;
	outline: none;
	color: #808080;
	font-size: 18px;
	line-height: 20px;
	padding: 6px 10px;
	display: inline-block;
	border: 1px solid #ffffff;
	background: #fff url("../img/select_arrow.png") 100% 50% no-repeat;

	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none!important;

	&::-ms-expand {
		display: none;
	}

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	@media (min-width: $screen-sm-min) {
		padding: 14px 20px;
	}

}

.red {

	.form-control {
		border-color: #ff0000;
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 6px;

	@media (min-width: $screen-sm-min) {
		margin-bottom: 20px;
	}
}